# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so

# Virtual environments
.venv/
venv/
ENV/

# =========================
# PyInstaller
# =========================
build/
dist/
*.spec

# =========================
# IDEs
# =========================
.idea/
.vscode/

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Logs / temp files
# =========================
*.log
*.tmp

# =========================
# User-specific / local
# =========================
.env
.env.*
